.example-card {
  max-width: 400px;
  /* overflow: hidden; */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
}

.center_content{
  height: 100vh;
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
}

mat-form-field {
  width: 100%;
}

