<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isLogged()">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/todos" style="cursor: pointer">My Todo</span>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="submenu">
      <mat-icon>account_circle</mat-icon>
      <span>{{ getUsername() }}</span>
    </button>

    <button mat-menu-item routerLink="/todos">
      <mat-icon>ballot</mat-icon>
      <span>Todos</span>
    </button>

    <button *ngIf="getRoleAdmin()" mat-menu-item [matMenuTriggerFor]="adminMenu">
      <mat-icon>manage_accounts</mat-icon>
      <span>Admin</span>
    </button>
    <button mat-menu-item (click)="authService.onLogout()" routerLink="/login">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

  <mat-menu #submenu="matMenu">
    <button mat-menu-item routerLink="/user/profile-account">
      User information
    </button>
    <button mat-menu-item routerLink="/user/change-email">
      Change your e-mail
    </button>
    <button mat-menu-item routerLink="/user/change-password">
      Change the password
    </button>
  </mat-menu>

  <mat-menu #adminMenu="matMenu">
    <button mat-menu-item routerLink="/admin/manager-user">
      User management
    </button>
  </mat-menu>
  <span class="example-spacer"></span>
  <mat-icon *ngIf="!isLogged()">login</mat-icon>
  <span routerLink="login" *ngIf="!isLogged()" style="cursor: pointer; padding:10px;" >Login</span>
</mat-toolbar>
