<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a class="navbar-brand" href="">MyTodos</a>
    </div>

    <ul class="navbar-nav">
      <li>
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/todos">Todo</a>
      </li>
    </ul>

    <ul class="navbar-nav justify-content-end navbar-collapse">
      <li
        style="
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <mat-icon style="color: white">account_circle</mat-icon>
      </li>
      <li>
        <span class="nav-link">{{ getUsername() }}</span>
      </li>
      <li>
        <a class="nav-link" routerLink="/login" (click)="authService.onLogout()"
          >Logout</a
        >
      </li>
    </ul>
  </nav>
</header>

