<div class="container box-form">
  <div class="form_change-password">
    <h1>Change your password</h1>
    <form [formGroup]="fChangePass">
      <mat-form-field appearance="outline">
        <mat-label>Current password</mat-label>
        <input matInput formControlName="oldPassword" type="password" />
        <mat-error *ngIf="fbChangePass.oldPassword.hasError('required')">
          Current password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="fbChangePass.oldPassword.hasError('passwordValid')">
          Incorrect old password
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>New password</mat-label>
        <input matInput formControlName="newPassword" type="password" />
        <mat-error *ngIf="fbChangePass.newPassword.hasError('required')">
          New password is <strong>required</strong>
        </mat-error>
        <mat-error multiLine *ngIf="
            fbChangePass.newPassword.hasError('pattern') &&
            !fbChangePass.newPassword.hasError('required')
          ">
          Password must be at least 8 and up to 40 characters, at least one
          uppercase letter, one lowercase letter, one number and one special
          character
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Repeat new password</mat-label>
        <input matInput formControlName="confirmPassword" type="password" />
        <mat-error *ngIf="fbChangePass.confirmPassword.hasError('required')">
          Repeat new password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="fbChangePass.confirmPassword.hasError('confirmedValidator')">
          New Password and Confirm Password must be match.
        </mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" (click)="changePass()"
        [disabled]="this.fChangePass.invalid">
        Submit
      </button>
    </form>
  </div>
</div>
