table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.list-todo{
  padding-top: 50px;
  /* position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); */

}
