table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.list-todo {
  padding-top: 50px;
}

.box_mat-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}

.box_status {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


